# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

# C extensions
*.c

# Virtual environment
venv/
env/
.venv/
.env/

# Python environment variables
*.env
.env.*

# Build artifacts
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.manifest
*.
